* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "MapoFlowerIsland";
  src: url("/src/fonts/MapoFlowerIsland.ttf") format("truetype"); }

.app {
  z-index: 1; }

html {
  background-color: #fff; }

body {
  overflow-x: hidden;
  font-family: "MapoFlowerIsland";
  background-color: #a5c3dc; }

.sans-serif {
  font-family: sans-serif; }

.intro {
  background: linear-gradient(0deg, white 0%, #a5c3dc 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  /*Intro media query*/ }
  .intro-name {
    padding-bottom: 0.5rem; }
  .intro-text-container {
    width: 30rem;
    height: 30rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/src/img/flowers-border.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-animation: fadeinout 5s ease-in forwards;
    animation: fadeinout 5s ease-in forwards; }
  @media screen and (max-width: 1200px) {
    .intro .intro-text-container {
      width: 27rem;
      height: 27rem; } }
  .intro-name {
    font-size: clamp(1.2rem, 1.5vw, 2vw);
    animation: bottom-top 3s ease-in; }
  .intro-additional {
    font-size: clamp(1.2rem, 1.5vw, 2vw);
    animation: bottom-top 3s ease-in; }

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes bottom-top {
  0% {
    transform: translateY(40px);
    opacity: 0; }
  100% {
    opacity: 1; } }

.hidden {
  transition: opacity 2s;
  opacity: 0; }

.section {
  width: 100%; }

.container {
  width: 100%;
  max-width: 460px;
  padding: 0 2rem;
  margin: 0 auto;
  background-color: #fff; }

/*Hero*/
.hero {
  width: 100%;
  height: 39.375rem; }
  .hero-img-container {
    width: 100%;
    max-width: 460px;
    min-height: 100%;
    margin: 0 auto;
    box-shadow: 0px 25px 50px 0 white inset, 0px 0px 50px 0 white inset;
    background-image: url("../img/DSC_1531.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat; }

.particle {
  position: absolute;
  border-radius: 50%; }

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(41vw, 88vh, 47px); } }

.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.39;
  height: 6px;
  width: 6px;
  animation-delay: -0.1s;
  transform: translate3d(44vw, 71vh, 66px);
  background: white; }

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(55vw, 21vh, 35px); } }

.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.26;
  height: 8px;
  width: 8px;
  animation-delay: -0.2s;
  transform: translate3d(66vw, 5vh, 12px);
  background: white; }

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(53vw, 68vh, 69px); } }

.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.86;
  height: 8px;
  width: 8px;
  animation-delay: -0.3s;
  transform: translate3d(74vw, 87vh, 65px);
  background: white; }

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(73vw, 52vh, 29px); } }

.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.98;
  height: 6px;
  width: 6px;
  animation-delay: -0.4s;
  transform: translate3d(14vw, 54vh, 35px);
  background: white; }

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(19vw, 73vh, 60px); } }

.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.55;
  height: 7px;
  width: 7px;
  animation-delay: -0.5s;
  transform: translate3d(72vw, 81vh, 57px);
  background: white; }

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(32vw, 73vh, 42px); } }

.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.3;
  height: 10px;
  width: 10px;
  animation-delay: -0.6s;
  transform: translate3d(83vw, 4vh, 83px);
  background: white; }

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(34vw, 87vh, 23px); } }

.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.93;
  height: 7px;
  width: 7px;
  animation-delay: -0.7s;
  transform: translate3d(72vw, 23vh, 2px);
  background: white; }

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(40vw, 5vh, 97px); } }

.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.47;
  height: 9px;
  width: 9px;
  animation-delay: -0.8s;
  transform: translate3d(22vw, 70vh, 35px);
  background: white; }

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(82vw, 71vh, 87px); } }

.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.3;
  height: 7px;
  width: 7px;
  animation-delay: -0.9s;
  transform: translate3d(36vw, 44vh, 94px);
  background: white; }

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(54vw, 53vh, 63px); } }

.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.09;
  height: 7px;
  width: 7px;
  animation-delay: -1s;
  transform: translate3d(64vw, 79vh, 88px);
  background: white; }

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(27vw, 33vh, 29px); } }

.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.7;
  height: 7px;
  width: 7px;
  animation-delay: -1.1s;
  transform: translate3d(4vw, 27vh, 16px);
  background: white; }

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(12vw, 24vh, 69px); } }

.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.18;
  height: 7px;
  width: 7px;
  animation-delay: -1.2s;
  transform: translate3d(6vw, 34vh, 4px);
  background: white; }

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(51vw, 67vh, 44px); } }

.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.89;
  height: 10px;
  width: 10px;
  animation-delay: -1.3s;
  transform: translate3d(68vw, 68vh, 19px);
  background: white; }

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(42vw, 71vh, 19px); } }

.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.89;
  height: 6px;
  width: 6px;
  animation-delay: -1.4s;
  transform: translate3d(64vw, 81vh, 59px);
  background: white; }

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(49vw, 15vh, 24px); } }

.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.35;
  height: 7px;
  width: 7px;
  animation-delay: -1.5s;
  transform: translate3d(66vw, 2vh, 63px);
  background: white; }

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(73vw, 10vh, 99px); } }

.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.88;
  height: 9px;
  width: 9px;
  animation-delay: -1.6s;
  transform: translate3d(21vw, 71vh, 23px);
  background: white; }

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(48vw, 39vh, 8px); } }

.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.99;
  height: 9px;
  width: 9px;
  animation-delay: -1.7s;
  transform: translate3d(15vw, 18vh, 51px);
  background: white; }

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(81vw, 29vh, 16px); } }

.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.42;
  height: 9px;
  width: 9px;
  animation-delay: -1.8s;
  transform: translate3d(27vw, 78vh, 34px);
  background: white; }

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(35vw, 62vh, 24px); } }

.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.82;
  height: 9px;
  width: 9px;
  animation-delay: -1.9s;
  transform: translate3d(74vw, 26vh, 70px);
  background: white; }

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(87vw, 63vh, 53px); } }

.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.56;
  height: 8px;
  width: 8px;
  animation-delay: -2s;
  transform: translate3d(54vw, 20vh, 12px);
  background: white; }

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(16vw, 75vh, 2px); } }

.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.03;
  height: 7px;
  width: 7px;
  animation-delay: -2.1s;
  transform: translate3d(64vw, 71vh, 50px);
  background: white; }

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(21vw, 23vh, 56px); } }

.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.28;
  height: 6px;
  width: 6px;
  animation-delay: -2.2s;
  transform: translate3d(4vw, 84vh, 67px);
  background: white; }

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(62vw, 57vh, 90px); } }

.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.6;
  height: 6px;
  width: 6px;
  animation-delay: -2.3s;
  transform: translate3d(75vw, 80vh, 65px);
  background: white; }

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(77vw, 25vh, 48px); } }

.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.6;
  height: 6px;
  width: 6px;
  animation-delay: -2.4s;
  transform: translate3d(66vw, 53vh, 89px);
  background: white; }

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(44vw, 55vh, 39px); } }

.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.03;
  height: 7px;
  width: 7px;
  animation-delay: -2.5s;
  transform: translate3d(50vw, 36vh, 26px);
  background: white; }

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(48vw, 87vh, 21px); } }

.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.21;
  height: 9px;
  width: 9px;
  animation-delay: -2.6s;
  transform: translate3d(89vw, 10vh, 48px);
  background: white; }

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(74vw, 74vh, 82px); } }

.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.08;
  height: 8px;
  width: 8px;
  animation-delay: -2.7s;
  transform: translate3d(23vw, 39vh, 82px);
  background: white; }

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(72vw, 40vh, 3px); } }

.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.45;
  height: 6px;
  width: 6px;
  animation-delay: -2.8s;
  transform: translate3d(29vw, 38vh, 2px);
  background: white; }

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(85vw, 66vh, 83px); } }

.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.23;
  height: 7px;
  width: 7px;
  animation-delay: -2.9s;
  transform: translate3d(87vw, 67vh, 46px);
  background: white; }

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(87vw, 24vh, 39px); } }

.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.82;
  height: 8px;
  width: 8px;
  animation-delay: -3s;
  transform: translate3d(75vw, 26vh, 87px);
  background: white; }

/*Main*/
.main {
  width: 100%;
  font-weight: lighter;
  text-align: center;
  border-bottom: 1px solid #a5c3dc; }
  .main-title {
    font-size: 1.5rem;
    padding-top: 2rem;
    font-weight: lighter; }
    .main-title .and-sign {
      font-size: 1.4rem; }
  .main-text {
    font-size: 1.2rem;
    line-height: 1.5;
    transition: opacity 1s ease-in;
    opacity: 1; }
    .main-text .poem-container {
      padding: 6rem 0;
      border-top: 1px solid #a5c3dc; }
    .main-text-container {
      padding: 2rem 0; }
      .main-text-container .main-location-text {
        font-size: 1rem; }

.contact {
  font-size: 1.1rem;
  width: 100%;
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 3rem; }
  .contact .husband-parents {
    padding-bottom: 1rem; }
  .contact-btn {
    margin-top: 1rem;
    padding: 0.7rem;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1.2rem;
    background-color: #98c7ee;
    width: 100%;
    max-width: 300px; }
    .contact-btn:hover {
      transition: 0.5s;
      opacity: 0.7;
      cursor: pointer; }

.modal-background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: none; }

.modal {
  width: 300px;
  border-radius: 4px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3; }
  .modal-close-btn {
    position: absolute;
    right: 15px; }
    .modal-close-btn:hover {
      cursor: pointer;
      opacity: 0.7; }
  .modal-header {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #98c7ee;
    color: #fff;
    padding: 0.5rem;
    position: relative;
    margin-bottom: 1rem; }
  .modal .modal-body {
    padding: 0 1rem;
    margin-bottom: 1rem; }
  .modal .h-tel,
  .modal .b-tel,
  .modal .f-tel,
  .modal .m-tel {
    margin-top: 0.3rem;
    display: flex;
    font-size: 0.9rem;
    justify-content: space-between; }
    .modal .h-tel :nth-last-child(1),
    .modal .b-tel :nth-last-child(1),
    .modal .f-tel :nth-last-child(1),
    .modal .m-tel :nth-last-child(1) {
      font-size: 0.8rem;
      font-family: sans-serif;
      font-weight: 300; }

table {
  margin: 0 auto; }
  table tr {
    text-align: center; }

/*Dday*/
.dday {
  width: 100%;
  text-align: center;
  padding-bottom: 6rem;
  border-bottom: 1px solid #a5c3dc; }
  .dday .calendar {
    width: 100%;
    height: 100%; }

/*Album*/
.album {
  width: 100%;
  height: 40rem;
  text-align: center;
  padding: 5rem 0; }
  .album-title {
    padding-bottom: 1rem; }

/*Location*/
.location {
  width: 100%;
  text-align: center;
  padding: 8rem 0;
  border-bottom: 1px solid #a5c3dc; }
  .location-main {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: bold; }
  .location-tel {
    padding: 1rem 0; }
  .location a {
    text-decoration: none; }
    .location a:hover {
      opacity: 0.7;
      transition: opacity 0.5s; }
  .location .icons {
    list-style: none;
    display: flex; }
    .location .icons .icon-inner {
      display: flex;
      flex-direction: column; }
    .location .icons .icon + .icon {
      margin-left: 1rem; }

.map-container {
  padding: 1rem 0; }

.d-bus-guide-title {
  padding-top: 2rem;
  padding-bottom: 1rem; }

.guides {
  list-style: none;
  text-align: left; }
  .guides-title {
    padding: 1rem 0; }
  .guides .bus-container {
    padding: 1rem 0; }
  .guides ul {
    padding: 0 1rem; }
  .guides .guides-detail-text {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    color: gray;
    text-align: left; }

/*BankAccount*/
.bank-account {
  width: 100%;
  text-align: center;
  padding: 6rem 0; }
  .bank-account h2 {
    font-size: 1.2rem; }
  .bank-account .congrats-flowers {
    color: blue; }
  .bank-account .dropdown {
    width: 100%;
    padding: 1rem 0;
    color: #fff; }
    .bank-account .dropdown .drop-btn {
      padding: 1rem;
      border-radius: 4px;
      background-color: #98c7ee;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative; }
      .bank-account .dropdown .drop-btn:after {
        content: ">";
        transform: rotate(90deg);
        font-size: 1.5rem;
        position: absolute;
        right: 1rem; }
      .bank-account .dropdown .drop-btn.checked:after {
        transform: rotate(270deg); }
      .bank-account .dropdown .drop-btn:hover {
        cursor: pointer;
        opacity: 0.7;
        transition: 0.3s; }
    .bank-account .dropdown .inner-content {
      color: #000;
      height: 0;
      transition: 0.7s;
      overflow: hidden;
      background-color: #d8e2e2; }
      .bank-account .dropdown .inner-content .account-container {
        text-align: left;
        padding: 1rem;
        position: relative; }
        .bank-account .dropdown .inner-content .account-container .family-accounts {
          font-weight: 600;
          padding-bottom: 0.5rem; }
        .bank-account .dropdown .inner-content .account-container .copy-btn {
          width: 3.5rem;
          height: 2rem;
          border: none;
          border-radius: 4px; }
          .bank-account .dropdown .inner-content .account-container .copy-btn:hover {
            cursor: pointer;
            opacity: 0.7;
            transition: 0.3s; }
        .bank-account .dropdown .inner-content .account-container .account-text-container {
          display: flex;
          align-items: center;
          justify-content: space-between; }
    .bank-account .dropdown .show-content {
      height: 12rem;
      overflow: none;
      transition: 0.7s; }

/*GuestBook*/
.guest-book {
  width: 100%;
  padding: 3rem 0; }
  .guest-book h2 {
    text-align: center;
    padding-bottom: 1rem; }
  .guest-book form {
    border: 1px solid #ddd;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    padding: 1rem; }
    .guest-book form input[type="text"] {
      width: 100%;
      padding: 0.5rem;
      margin: 0.5rem 0;
      border: 1px solid #ddd; }
      .guest-book form input[type="text"]:focus {
        outline-color: #a5c3dc; }
    .guest-book form textarea {
      resize: none;
      padding: 0.5rem;
      max-height: 7rem;
      margin-bottom: 1rem;
      border: 1px solid #ddd; }
      .guest-book form textarea:focus {
        outline-color: #a5c3dc; }
    .guest-book form .submit-btn {
      padding: 0.5rem;
      border-radius: 4px;
      border: none;
      background-color: #a5c3dc; }
      .guest-book form .submit-btn:hover {
        opacity: 0.7;
        transition: 0.3s;
        cursor: pointer; }

.guest-box {
  border: 5px solid #fff;
  background-color: #f1f3f4;
  padding: 1rem; }
  .guest-box hr {
    height: 1px;
    background-color: #ccc;
    border: none; }
  .guest-box .text-text {
    padding: 0.5rem 0; }

.guest-data {
  overflow-y: scroll;
  margin-top: 1rem;
  height: 10rem;
  min-height: 20rem;
  border: 1px solid #ddd; }

/*Swiper*/
.swiper {
  width: 100%;
  height: 35rem;
  background-color: #fff;
  border-radius: 4px; }
  .swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .swiper-slide img {
      width: 100%;
      height: auto; }
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    color: #fff;
    padding: 0; }
    .swiper .swiper-button-next:hover,
    .swiper .swiper-button-prev:hover {
      opacity: 0.7;
      transition: 0.3s;
      transform: scale(1.1); }
